@keyframes blurry { /* Animacion de desenfoque al cargar la pagina */
  0% {
    filter: blur(20px); /* Desenfoque máximo al inicio */
  }
  100% {
    filter: blur(0px); /* Sin desenfoque al final */
  }
}
@keyframes smoothStart{ /* Animacion de aparicion al cargar la pagina */
  0% {
    filter: opacity(0); /* Oculto */
  }
  50% {
    filter: opacity(0); /* Oculto */
  }
  100% {
    filter: opacity(1); /* Aparicion */
  }
}


@font-face{
  font-family: "CMU Serif";
  src: url("https://fonts.cdnfonts.com/s/19926/cmunrm.woff") format(woff)
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "CMU Serif", "Times New Roman", Times, serif;
  scroll-behavior: smooth;
}
body{
  scroll-behavior: smooth;
}
.container-main-page {
  max-width: 100vw;
  background-color: #000000;
}

.navbar__container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: fixed;
  z-index: 1000;
  transition: background-color 0.2s ease;
}
.navbar__container.scrolled {
  background-color: #000000; /* Color de fondo cuando se ha pasado una página */
}
.navbar__img {
  width: 250px;
}
.navbar__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}
.navbar__item {
  margin: 0 20px;
}
.navbar__links {
  text-decoration: none;
  color: #E6C067;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-bottom: 5px;
}
.navbar__links:hover {
  border-bottom: 2px solid #E6C067;
}
.navbar__links.active {
  text-decoration: line-through; /* Aplica el tachado al enlace "Nosotros" si ha sido visitado */
}

.main__container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, #000000, rgba(0, 0, 0, 0) 90%), url("img/background-merak.png");
  background-size: cover;
  position: relative;
  padding: 0 50px;
  animation: blurry 1s forwards;
}
.main__img {
  width: 100%;
  height: 100%;
}
.main__img img {
  width: 60vh;
}
.main__arrow {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  animation: smoothStart 2.25s forwards;
}
.main__wa {
  position: absolute;
  bottom: 5vh;
  right: 80px;
}
.main__wa-line-light {
  background-color: #E6C067;
  width: 160%;
  height: 2px;
  position: absolute;
  right: -30px;
  top: -5px;
}
.main__wa-line-dark {
  height: 2px;
  width: 50px;
  background-color: #937b43;
  position: absolute;
  top: -5px;
  right: -80px;
}
.main__wa-name {
  text-decoration: none;
  color: #E6C067;
  font-size: 1.2rem;
}
.main__title {
  width: 100%;
  height: 100%;
  color: #E6C067;
  animation: smoothStart 1.25s forwards;
}
.main__title p {
  font-size: 2.2rem;
  font-weight: normal;
  letter-spacing: 10px;
  text-align: 16px;
  position: relative;
}
.main__title p:after {
  content: "";
  display: block;
  width: 30%;
  height: 4px;
  background-color: #E6C067;
  margin-top: 36px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: smoothStart 1.75s forwards;
}

.experiences__container {
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 100px 50px;
  background: linear-gradient(to bottom, #242424 0%, #000000 15%, #000000 100%);
}
.experiences__title {
  color: #E6C067;
  font-size: 2rem;
  text-align: center;
  width: fit-content;
  padding: 25px;
  margin: 0 auto;
  
  view-timeline-name: --experiences-title;
  view-timeline-axis: block;
  
  animation-timeline: --experiences-title;
  animation-name: fadeInUp;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}
.experiences__description {
  color: #E6C067;
  font-size: 1.2rem;
  text-align: center;
  width: 60%;
  font-style: italic;
  padding: 25px;
  margin: 0 auto;

  view-timeline-name: --experiences-description;
  view-timeline-axis: block;
  
  animation-timeline: --experiences-description;
  animation-name: fadeInUp;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}
.experiences__imgCorpExp {
  background-image: url("img/index/merak_experiences.png");
  background-size: cover;
  width: 100vh;
  height: 50vh;
  padding: 25px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  box-shadow: inset 0 0 50px 50px #000000;

  view-timeline-name: --experiences-imgCorpExp;
  view-timeline-axis: block;
  
  animation-timeline: --experiences-imgCorpExp;
  animation-name: fadeOp;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

.experiences__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 55px;
  height: fit-content;
}
.experiences__item {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experiences__item-description {
  color: #E6C067;
  font-style: italic;
  font-size: 1.3rem;
  margin: 2px 0;
  view-timeline-name: --experiences-item-description;
  view-timeline-axis: block;
  
  animation-timeline: --experiences-item-description;
  animation-name: fadeInUp;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}
.experiences__img {
  background-size: cover;
  width: 270px;
  height: 270px;
  margin: 40px 0;
  border-radius: 50%;
  view-timeline-name: --experiences-img;
  view-timeline-axis: block;
  
  animation-timeline: --experiences-img;
  animation-name: fadeOp;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}
.experiences__articulos {
  background-image: url("img/index/Articulos.png");
}
.experiences__regalos {
  background-image: url("img/index/Regalos.png");
}
.experiences__catering {
  background-image: url("img/index/Catering.png");
}

.experiences {
  position: relative;
}
.line-container {
  position: absolute;
  top: 0;
  right: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  view-timeline-name: --line-container;
  view-timeline-axis: block;
  
  animation-timeline: --line-container;
  animation-name: fadeOp;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}
.line-top {
  height: 82%;
  background: linear-gradient(to bottom, #E6C067 80%, transparent);
  width: 3px;
}
.line-bottom {
  height: 18%;
  background: linear-gradient(to top, #E6C067 80%, transparent);
  width: 3px;
}
.line-text {
  font-size: 2rem;
  writing-mode: vertical-lr; 
  transform: rotate(180deg);
  color: #E6C067;
  padding: 25px;
  
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(70px); /* Posición inicial */
  }

  to {
    opacity: 1;
    transform: translateY(0); /* Posición final */
  }
}
@keyframes fadeOp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px !important;
  height: 60px !important;
  border: 2px solid #E6C067 !important; /* Borde dorado */
  border-radius: 50% !important; /* Botón redondo */
  background: rgba(0, 0, 0, 0.5) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E6C067 !important; /* Color del ícono */
}
.owl-nav .owl-prev {
  left: 10px; /* Aumenta para mover la flecha hacia adentro desde el borde izquierdo */
}
.owl-nav .owl-next {
  right: 10px; /* Aumenta para mover la flecha hacia adentro desde el borde derecho */
}
.owl-nav i {
  margin: auto; /* Centra el icono dentro del botón */
  font-size: 30px;
}
.owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* La altura se ajusta automáticamente */
}
.owl-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra el ítem */
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1; /* Mantiene las imágenes como cuadrados */
}

.footer__container {
  color: #E6C067;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #000000;
}
.footer__title {
  font-size: 2rem;
  width: fit-content;
  padding: 25px;
}
.footer__contact {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  width: fit-content;
}
.footer__contact li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__contact li img {
  width: 30px;
  margin-right: 20px;
}
.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer__social img {
  width: 40px;
  margin: 20px;
}
.footer__final {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.footer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 41%;
}
.footer__logo {
  width: 25vh;
}
.footer__legal {
  padding: 25px;
  text-align: center;
}

.footer__row {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  justify-content: center;
  overflow: hidden;
  view-timeline-name: --footer-return;
  view-timeline-axis: block;
  
  animation-timeline: --footer-return;
  animation-name: grow;
  animation-range: entry 20% cover 30%;
  animation-fill-mode: both;
}

@keyframes grow{
  from { 
    opacity: 0;
    scale: 5%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.footer__rowimg {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20%;
  height: 8vw;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 20px;
}
.footer__return {
  text-decoration: none;
  position: relative;
  display: flex;
  color: #E6C067;
  justify-content: center;
  align-items: center;
}

.diferential__container {
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 100px 50px;
}

.test-container {
  width: 100%;
  height: 100vh;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* This will change the scrollbar for the whole webpage */
::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #000000;
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: #E6C067;
  /* color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #E6C067;
  /* color of the scroll thumb on hover */
}

/*# sourceMappingURL=style.css.map */