@import url("https://fonts.cdnfonts.com/css/cmu-serif");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "CMU Serif", "Times New Roman", Times, serif;
}
body{
  scroll-behavior: smooth;
}
.container-main-page {
  max-width: 100vw;
  background-color: #0a0a0a;
}

.navbar__container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: fixed;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 1000;
}
.navbar__img {
  width: 250px;
}
.navbar__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}
.navbar__item {
  margin: 0 20px;
}
.navbar__links {
  text-decoration: none;
  color: #f3c355;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-bottom: 5px;
}
.navbar__links:hover {
  border-bottom: 2px solid #f3c355;
}
.navbar__links.active {
  text-decoration: line-through; /* Aplica el tachado al enlace "Nosotros" si ha sido visitado */
}
@keyframes desenfoque {
  0% {
    filter: blur(20px); /* Desenfoque máximo al inicio */
  }
  100% {
    filter: blur(0px); /* Sin desenfoque al final */
  }
}
@keyframes aparicion {
  0% {
    filter: opacity(0); /* Oculto */
  }
  50% {
    filter: opacity(0); /* Oculto */
  }
  100% {
    filter: opacity(1); /* Aparicion */
  }
}
.main__container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, #0a0a0a, rgba(0, 0, 0, 0) 90%), url("img/background-merak.png");
  background-size: cover;
  position: relative;
  padding: 0 50px;
  animation: desenfoque 1s forwards;
}
.main__img {
  width: 100%;
  height: 100%;
}
.main__img img {
  width: 60vh;
}
.main__arrow {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  animation: aparicion 2.25s forwards;
}
.main__wa {
  position: absolute;
  bottom: 5vh;
  right: 80px;
}
.main__wa-line-light {
  background-color: #f3c355;
  width: 160%;
  height: 2px;
  position: absolute;
  right: -30px;
  top: -5px;
}
.main__wa-line-dark {
  height: 2px;
  width: 50px;
  background-color: #937b43;
  position: absolute;
  top: -5px;
  right: -80px;
}
.main__wa-name {
  text-decoration: none;
  color: #f3c355;
  font-size: 1.2rem;
}
.main__title {
  width: 100%;
  height: 100%;
  color: #f3c355;
  animation: aparicion 1.25s forwards;
}
.main__title p {
  font-size: 2.2rem;
  font-weight: normal;
  letter-spacing: 10px;
  text-align: 16px;
  position: relative;
}
.main__title p:after {
  content: "";
  display: block;
  width: 30%;
  height: 4px;
  background-color: #f3c355;
  margin-top: 36px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: aparicion 1.75s forwards;
}

.experiences__container {
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 100px 50px;
}
.experiences__title {
  color: #f3c355;
  font-size: 2rem;
  text-align: center;
  width: fit-content;
  padding: 25px;
  margin: 0 auto;
  
  view-timeline-name: --experiences-title;
  view-timeline-axis: block;
  
  animation-timeline: --experiences-title;
  animation-name: fadeInUp;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}
.experiences__description {
  color: #f3c355;
  font-size: 1.2rem;
  text-align: center;
  width: 60%;
  font-style: italic;
  padding: 25px;
  margin: 0 auto;

  view-timeline-name: --experiences-description;
  view-timeline-axis: block;
  
  animation-timeline: --experiences-description;
  animation-name: fadeInUp;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}
.experiences__imgCorpExp {
  background-image: url("img/index/merak_experiences.png");
  background-size: cover;
  width: 100vh;
  height: 50vh;
  padding: 25px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  box-shadow: inset 0 0 50px 50px #0a0a0a;

  view-timeline-name: --experiences-imgCorpExp;
  view-timeline-axis: block;
  
  animation-timeline: --experiences-imgCorpExp;
  animation-name: fadeOp;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

.experiences__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 55px;
  height: fit-content;
}
.experiences__item {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experiences__item-description {
  color: #f3c355;
  font-style: italic;
  font-size: 1.3rem;
  margin: 2px 0;
  view-timeline-name: --experiences-item-description;
  view-timeline-axis: block;
  
  animation-timeline: --experiences-item-description;
  animation-name: fadeInUp;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}
.experiences__img {
  background-size: cover;
  width: 270px;
  height: 270px;
  margin: 40px 0;
  border-radius: 50%;
  view-timeline-name: --experiences-img;
  view-timeline-axis: block;
  
  animation-timeline: --experiences-img;
  animation-name: fadeOp;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}
.experiences__articulos {
  background-image: url("img/index/Articulos.png");
}
.experiences__regalos {
  background-image: url("img/index/Regalos.png");
}
.experiences__catering {
  background-image: url("img/index/Catering.png");
}

.experiences {
  position: relative;
}
.line-container {
  position: absolute;
  top: 0;
  right: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  view-timeline-name: --line-container;
  view-timeline-axis: block;
  
  animation-timeline: --line-container;
  animation-name: fadeOp;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}
.line-top {
  height: 82%;
  background: linear-gradient(to bottom, #f3c355 80%, transparent);
  width: 3px;
}
.line-bottom {
  height: 18%;
  background: linear-gradient(to top, #f3c355 80%, transparent);
  width: 3px;
}
.line-text {
  font-size: 2rem;
  writing-mode: vertical-lr; 
  transform: rotate(180deg);
  color: #f3c355;
  padding: 25px;
  
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(70px); /* Posición inicial */
  }

  to {
    opacity: 1;
    transform: translateY(0); /* Posición final */
  }
}
@keyframes fadeOp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.footer__container {
  color: #f3c355;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footer__title {
  font-size: 2rem;
  width: fit-content;
  padding: 25px;
}
.footer__contact {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  width: fit-content;
}
.footer__contact li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__contact li img {
  width: 30px;
  margin-right: 20px;
}
.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer__social img {
  width: 40px;
  margin: 20px;
}
.footer__final {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.footer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 41%;
}
.footer__logo {
  width: 25vh;
}
.footer__legal {
  padding: 25px;
  text-align: center;
}

.footer__row {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  justify-content: center;
  overflow: hidden;
  view-timeline-name: --footer-return;
  view-timeline-axis: block;
  
  animation-timeline: --footer-return;
  animation-name: aparecer;
  animation-range: entry 20% cover 30%;
  animation-fill-mode: both;
}

@keyframes aparecer{
  from { 
    opacity: 1;
    scale: 5%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.footer__rowimg {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20%;
  height: 8vw;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 20px;
}
.footer__return {
  text-decoration: none;
  position: relative;
  display: flex;
  color: #f3c355;
  justify-content: center;
  align-items: center;
}

.about-us__container {
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 100px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.about-us__description {
  color: #f3c355;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  width: 50%;
}
.about-us__description__title {
  font-size: 2rem;
  font-weight: lighter;
  transition: 0.75s ease;
  transform: translateY(100%);
  overflow: hidden;
}

.about-us__container:target .about-us__description__title{
  transform: translateY(0%); 
}

.about-us__description__text {
  font-size: 1.2rem;
  font-weight: lighter;
  line-height: 1.5;
}
.about-us__images {
  position: relative;
  height: calc(100vh - 100px);
  width: 50%;
}
.about-us__images-img1 {
  border-radius: 50%;
  width: 45vh;
  height: 45vh;
  background-image: url("img/nosotros/circulo2.png");
  background-size: cover;
  position: absolute;
  top: 30px;
  right: 50px;
}
.about-us__images-img2 {
  border-radius: 50%;
  width: 45vh;
  height: 45vh;
  background-image: url("img/nosotros/circulo1.png");
  background-size: cover;
  position: absolute;
  top: 180px;
  right: 280px;
}
.about-us__images-img3 {
  width: 40vh;
  height: 40vh;
  background-image: url(img/full-logo-merak.png);
  background-size: cover;
  position: absolute;
  top: 380px;
  right: 180px;
  transition: 1.25s ease;
  transform: translateY(100%);
  overflow: hidden;
}
.about-us__container:target .about-us__images-img3{
  transform: translateY(0%); 
}

.diferential__container {
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 100px 50px;
}

.test-container {
  width: 100%;
  height: 100vh;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* This will change the scrollbar for the whole webpage */
::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: #f3c355;
  /* color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #f3c355;
  /* color of the scroll thumb on hover */
}

/*# sourceMappingURL=style.css.map */
