@keyframes grow { /* Animacion de aparicion al cargar el contenido */
  from { 
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
@keyframes goUp{ /* Animacion del titulo e imagen About Us */
  0% {
      opacity: 0;
      bottom: -100px; 
      transform: translateY(100%);
  }
  100% {
      opacity: 1; 
      bottom: 20px; 
      transform: translateY(0%);
  }
}
.about-us__container {
  background: linear-gradient(to bottom, #242424 0%, #000000 15%, #000000 100%);
}
.about-us__container__effect {
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 60px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;

  view-timeline-name: --about-us;
  view-timeline-axis: block;
  
  animation-timeline: --about-us;
  animation-name: grow;
  animation-range: entry 5% cover 25%;
  animation-fill-mode: both;
}
.about-us__description {
  color: #E6C067;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  width: 50%;
}
.about-us__description__title {
  font-size: 2rem;
  font-weight: lighter;
  opacity: 0;
}
.about-us__description__title.visible{
  transition: 1.25s ease;
  animation: goUp 1s ease forwards;
}
.about-us__description__text {
  font-size: 1.2rem;
  font-weight: lighter;
  line-height: 1.5;
}
.about-us__images {
  margin: 0;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 15vh);
  width: 50%;
}
.about-us__images-img1 {
  border-radius: 50%;
  width: 38vh;
  height: 38vh;
  background-image: url("../img/nosotros/circulo2.png");
  background-size: cover;
  position: absolute;
  top: 10%;
  right: 7%;
}
.about-us__images-img2 {
  border-radius: 50%;
  width: 38vh;
  height: 38vh;
  background-image: url("../img/nosotros/circulo1.png");
  background-size: cover;
  position: absolute;
  top: 32%;
  right: 35%;
}
.about-us__images-img3 {
  width: 35vh;
  height: 35vh;
  background-image: url(../img/full-logo-merak.png);
  background-size: cover;
  position: absolute;
  top: 53%; 
  right: 16%;
  overflow: hidden;
  opacity: 0;
}
.about-us__images-img3.visible {
  transition: 1.25s ease;
  animation: goUp 1s ease forwards;
}

.project-container {
  width: 100%;
  margin-top: 8%;
  margin-bottom: 20%;
  overflow: hidden;
  view-timeline-name: --project;
  view-timeline-axis: block;
  
  animation-timeline: --project;
  animation-name: grow;
  animation-range: entry 5% cover 25%;
  animation-fill-mode: both;
}
.project-content {
  position: relative;
  margin-left: auto;
}
.project-title-container {
  text-align: center;
  overflow: visible;
}
.project-title {
  font-size: 6rem;
  font-weight: lighter;
  line-height: 1.5;
  top: 50%;
  transform: translate(0%,40%);
  color: #E6C067;
  filter: brightness(40%);
  z-index: 1;
}
.project-description {
  position: relative;
  margin-left: auto;
}
.project-details {
  position: relative;
  font-size: 18px;
  line-height: 1.5;
  padding-right: 2%;
  width: 90vw;
  height: 35vw;
  margin-left: auto;
  background-color: #252525;
  z-index: 2;
}
.project-details p {
  margin: 0;
  position: absolute;
  color: #E6C067;
  font-weight: lighter;
  margin-left: 45%;
  margin-right: 20%;
  top: 50%;
  transform: translateY(-50%);
}
.project-img {
  position: absolute;
  background-image: url("../img/nosotros/Diferencial.png");
  background-size: cover;
  background-position: center;
  width: 43%;
  height: 71%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

/*# sourceMappingURL=nosotros.css.map */